body {
	font-family: 'Garamond', 'Adobe Garamond', 'Apple Garamond', 'Sabon', 'Minion', 'Galliard', 'Eldorado', 'Noto Serif', 'Aldhabi', 'Georgia', serif;
	margin: 0;
}

h1 {
	background-color: #714206;
	color: #f0f0f0;
	text-align: center;
	line-height: 0em;
	padding: 0.2em 0 0.5em 0;
	margin: 0;
	font-size: 1.5em;
}
.logo-ru {
	content: url("assets/images/Logo_RiseUp_BN.png");
	height: 3em;
}
.logo-subtitle {
	font-size: 0.4em;
	font-weight: normal;
}

.affiche-container {
	transform: translateZ(0);
	height: 500px; /* todo delete, used for testing gradients */
	background: radial-gradient(circle, #ffcb01 0%, #a63e12 50%, #7d1f15 70%, #62000b 90%, #4d013c 100%);
}

h2.titre-prediction {
	text-align: center;
	margin: 0.4em;
	z-index: 3;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	display: block;
	height: 30%;
}
h2.titre-prediction > span {
	display: block;
	height: 100%;  /* follows parent: h2 */
	content: url("assets/images/titre.svg");
}
.ombres-loups-couche-2  {
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	border: 1px solid magenta;
	height: 100%;
	width: 100%;
	content: url("assets/images/ombres-couche-2.svg");
}
.ombres-loups-couche-1  {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	border: 1px solid magenta;
	height: 100%;
	width: 100%;
	content: url("assets/images/ombres-couche-1.svg");
}
